.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 12px 10px;
  margin: 29px 4px 0px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  transition: background-color 0.15s;
}

input:hover {
  border-color: blue;
}

.error-input-box {
  width: 100%;
  outline: none;
  margin: 0;
  text-align: left;
  font-size: 1em;
  border-radius: 4px;
  padding: 0 0.625em;
  height: 2.5em;
  border: 1px solid red;
}

.error-input-box:hover {
  border-color: red;
}
